body {
    font-family: Poppins, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.auth-form-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
    border-radius: 0.8rem;
    box-shadow: 0 0.5rem 1.5rem rgb(57 46 35 / 30%);
    /*background-color: rgb(57 46 35 / 49%);*/
    background-color: #e9ecef;
    width: 90%;
    max-width: 100%;
    height: auto;
    margin: 10% auto;
    align-items: normal;
}

.auth-form-container__title {
    font-size: 2.2rem;
    /*color: #f3eed8;*/
    /*color:rgb(57 46 35 / 49%);*/
    color: #392e23;
    margin-bottom: 8%;
    margin-top: 4%;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0.3rem  #f3eed8, -0.1rem -0.1rem 0.3rem #9e9286;
}

.auth-form-container__input {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1rem;
    background-color:white;
    color: #392e23;
    box-shadow: 0 0.1rem 0.2rem rgb(57 46 35 / 20%);
    margin-bottom: 4%;
    align-self: center;
}

.auth-form-container__input:focus {
    outline: 2px solid #28a745;
    outline-offset: 2px;
}

.auth-form-container__button {
    width: 70%;
    background-color: #28a745;
    color: #f3eed8;
    padding: 0.5rem 1rem;
    border: 1px solid #f3eed8;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: 0 0.1rem 0.2rem #f3eed8;
    margin: 5% auto;
    display: block;
}

.auth-form-container__button:hover {
    background-color: #2E7D32;
    color: #f3eed8;
}

.auth-form-container__button:focus {
    outline: 2px solid #f3eed8;
    outline-offset: 2px;
}

.auth-form-container__link {
    color: #392e23;
    font-size: 1rem;
    margin-top: 5%;
    transition: color 0.3s ease;
}

.auth-form-container__link:hover,
.auth-form-container__link:focus {
   /* color: #f3eed8;*/
    color: #7fa836;

}

.auth-form-container__title--registration {
    align-self: center;
    margin-left: 0;
}

.auth-form-container__prompt {
    flex-direction: column;
    display: flex;
    align-content: flex-end;
    align-items: center;
    font-size: 0.9rem;
}

.auth-form-container__label {
    color: #f3eed8;
    font-size: 0.9rem;
    cursor: pointer;
}

.auth-form-container__checkbox-wrapper {
    display: flex;
    align-items: start;
    margin-bottom: 1rem;
}

.auth-form-container__input-wrapper {
    display: flex;
    position: relative;
    width: 100%;
}

.auth-form-container__icon {
    position: absolute;
    top: 20%;
    right: 3%;
    width: 1.2rem;
    height: auto;
}

.auth-form-container__input-wrapper input {
    padding-right: 2.5rem;
}

.auth-form-container__prompt--registration {
    margin-top: 5%;
    font-size: 0.9rem;
    text-align: center;
}

.auth-form-container__name-row {
    display: flex;
    flex-direction: column;
}

.auth-form-container__name-row .auth-form-container__input {
    width: 100%;
}

.auth-form-container__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


/* Desktop styles */
@media (min-width: 768px) {
    .auth-form-container {
        width: 50%;
    }

    .auth-form-container__title {
        font-size: 2.5rem;
    }

    .auth-form-container__input {
        height: 2.5rem;
        font-size: 1rem;
    }

    .auth-form-container__button {
        width: 60%;
        font-size: 1.3rem;

    }

    .auth-form-container__link {
        font-size: 1rem;
    }

    .auth-form-container__icon {
        width: 1.5rem;
    }
   
    .auth-form-container__name-row {
        gap: 6%;
        flex-direction: row;
    }

    .auth-form-container__name-row .auth-form-container__input {
        width: 50%;
    }
}

/* Large desktop */
@media (min-width: 1200px) {
    .auth-form-container {
        width: 40%;
    }

    .auth-form-container__title {
        font-size: 3rem;
    }

    .auth-form-container__name-row {
        gap: 3%;
    }

    .auth-form-container__name-row .auth-form-container__input {
        width: 50%;
    }
}