body {
    background-color: rgb(132 136 98 / 49%);
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;

}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 10% 3% 7%;
    border: 0.3rem solid #1b1919;
    border-radius:1rem;
    box-shadow: 0 0.8rem 2rem rgb(0 0 0 / 20%);
    background-color: rgb(36 70 92 / 81%); /* Colore di sfondo bianco */
    width: 15%;
    max-width: 100%;
    margin: 7% auto; /* 5% sopra e sotto, auto ai lati per centraggio orizzontale */
}

.login h2{
    font-size: 2.5rem; /* Dimensione del titolo */
    color: rgb(241 239 234); /* Colore del titolo */
    margin-bottom: 15%; /* Margine inferiore */
    padding-left: 10%;

}

.barre {
    width: 120%;
    height: 2.5rem;
    padding: 0.5% 1%;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: rgb(241 239 234); /* Colore di sfondo */
    color: rgb(36 70 92); /* Colore del testo */
    box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 20%); /* Ombra leggera */
    margin-bottom: 5%; /* Margine inferiore */

}

.button {
    background-color: rgb(30 58 71);
    color: #f1efea;
    margin-top: 5%;
    padding: 0.5rem 1rem;
    border: greenyellow solid 1px;
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 1.3rem;
    margin-bottom: 10%;

}

a{
    color: greenyellow;  /* Colore del testo */
    font-size: 1rem;  /* Dimensione del testo */
    margin-top: 2%;

}

a:hover{
    color: rgb(241 239 234); /* Colore del testo al passaggio del mouse */
}

#idregistration{
    align-self: center;
}

@media (height >= 768px){
    .login {
        width: 40%;
        height: auto;

    }

    .barre{
        width: 100%;
        height: 3rem;
        font-size: 1.5rem;
        align-self: center;
    }

    h2{
        font-size: 4rem;
        margin-top: 5%;
        align-self:start;
        margin-left: 13%;

    }

    a{
        font-size: 1.5rem;
        margin-top: 5%;

    }

    .button{
        font-size: 1.5rem;


    }

    #idregistration{
        margin-left:0;
    }
}
