/* CSS Mobile */
.main-footer{
    background-color: #CFAF7C;
    color: white;
}
.main-footer_content{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

/* Expandable sections (disclosure widget)*/
.disclosure-box{
    margin-bottom: 1rem;
    border-bottom: 2px solid #392e23;
    padding-bottom: 1rem;
    padding-left: 2rem;
}
.disclosure-box_button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    line-height: 1;
}
.disclosure-box_button::marker{         /* Remove default arrow toggle*/
    display: none;
    content: '';
}
.disclosure-box_button::after{          /* Add new symbol top open and close sections*/
    content: "+";
    color: #392e23;
    font-size: 2.3rem;
    line-height: 0.8;
    padding-bottom: 7px;
    margin-right: 1rem;
    transition: all 300ms ease;
}
.disclosure-box[open] .disclosure-box_button::after{
    transform:  rotate(45deg);
}
.disclosure-box_heading{
    color: #392E23;
    font-size: 1.2rem;
    margin-bottom: 2px;
    font-weight: 500;
}
.disclosure-box_list{
    list-style-type: none;
    padding-top: 0.5rem;
}
.disclosure-box_item{
    width: 100%;
    margin: 0.5rem 0;
}
.disclosure-box_link{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    width: 100%;
    padding: 3px 0 3px 0;
}
/* Social and copyright bottom section*/
.main-footer_social-box{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.social_box_list{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 0.5rem;
}

.social_box_list li:first-child p{
    margin: 0;
    font-weight: 500;
}

.social-box_link{
    display: inline-block;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.social-box_icon{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    object-fit: cover;
}
.main-footer_copyright{
    text-align: center;
    margin: 1.5rem 0;
}

/*CSS Desktop*/
@media (min-width: 992px){
    .main-footer_content{
        flex-direction: row;
        flex-wrap: wrap;
        padding: 1rem 2rem;
    }
    .disclosure-box{        /*Da impostare open tramite js*/
        flex-grow: 3;
        border-bottom: none;
        padding-top: 2rem ;
    }
    .disclosure-box_button{
        cursor: default;
        pointer-events: none;
    }
    .disclosure-box_button::after{
        display: none;
        content: '';
    }
    .main-footer_social-box{
        margin: 4rem 1.5rem 0 0;
        align-self: flex-start;
    }
    .main-footer_copyright{
        width: 100%;
    }
}


