@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    color-scheme: only light !important;
}
header{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}



header.main-header{
    display: flex;
    position: sticky;
    flex-direction: column;
    background-color: #F3EED8;
    z-index: 1000;
    transition: trasform 0.3s ease-in-out;
}

/*Css Mobile*/
.main-header_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.3rem 1rem 0.5rem;
}

.main-header_content #openNavButton{
    font-size: 2rem;
    line-height: 1em;
    color: #3a2f26;
    cursor: pointer;
    margin-left: 0.5rem;
    border: none;
    background: none;
}
#hamburgerMenu:hover{
    cursor: pointer;
}
.main-header_logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 35%;
    margin-left: 0.5rem;
    /*border: 1px solid #3a2f26;*/
    text-align: center;
}

.main-header_logo-link #logoImage{
    width: 6.5rem;
    height: auto;
    position: relative;
    bottom: 2px;
}
.search-bar{
    position: relative;
    border-radius: 2.5em;
    width: 100%;
    background-color: white;
}
.main-header_search-bar{
    order: 4;
    border: 2px solid #7fa836 ;
    margin-top: 1vh;
    position: relative;
}

.search-bar form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    padding: 7px;
}
.search-bar form input[type="search"]{
    font-size: 1rem;
    font-weight: 500;
    border: none;
    min-width: 0;
    outline: none;
    padding-left: 5px;
    flex-grow: 1;
    margin-right: 7px;
}

.search-bar form button[type="submit"]{
    background: none;
    border: none;
}
.search-bar #searchLens{
    width: 2em;
    margin-right: 11px;
}
.main-header_user-actions{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: auto;
    margin-right: 3%;
    position: relative;
    gap: 0.1vw;
}
.user-actions_button{
    background: none;
    border: none;
}
.user-actions_button--profile:hover{
    cursor: pointer;
}
.user-actions_button--profile #profileIcon{
     width: 2.9rem;
     height: auto;
     padding: 7px;
 }
.user-actions_button--cart #cartIcon{
    width: 3.7rem;
    height: auto;
    padding: 7px;
}
.user-actions_dropdown{
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2.9em;
    right: 3.5em;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    background-color: white;
    padding: 11px 23px;
    z-index: 1;
}
.user-actions_dropdown a{
    text-decoration: none;
    border-radius: 11px;
    padding: 9px 18px;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    margin: 2px;
    color: #392E23;
    font-weight: 500;
}
.user-actions_dropdown .user-actions_dropdown_name-user{
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 5px;
}
.user-actions_dropdown .user-actions_dropdown--first-link{
    background-color: #CFAF7C;
    color: white;
}

.mobile-nav{
    display: block;
    position: fixed;
    width: 0;
    height: 100%;
    background-color: #392E23;
    overflow: hidden;
    z-index: 2;
    font-family: 'Poppins', sans-serif;
}
.mobile-nav_list{
    list-style: none;
    padding-top: 15vh;
    padding-left: 2vw;
}

.mobile-nav_list .mobile-nav_item--close{
    position: absolute;
    right: 7vw;
    top: 5vh;
    font-size: 3rem;
    padding: 7px;
    line-height: 1;
}
#closeNavButton{
    background: none;
    border: none;
    color: white;
    font-size: clamp(1.3rem, 1.5rem + 1.5vw, 2.5rem);
    cursor: pointer;
}
.mobile-nav_link{
    display: block;
    text-decoration: none;
    color: white;
    font-size: clamp(1.3rem, 1.2rem + 1.5vw, 2.5rem);
    padding: 0.3em 1em;
}
.cart-count {
    background-color: #7fa836;
    color: white;
    border-radius: 50%;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    right: 0;
}


#suggestions div:hover {
    background-color: #F3EED8;
}
/* Stato attivo dei suggerimenti */
#suggestions.active {
    border-radius: 0 0 0.5em 0.5em; /* solo angoli inferiori */
    display: block !important; /* override display:none di base */
}

/* Quando la barra è attiva (con suggerimenti) */
.main-header_search-bar.active {
    border-bottom: none;
    border-radius: 1em 1em 0 0;
}
#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 300px;
    overflow-y: auto;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: none; /* nascondi per default */

}
.suggestion-item {
    padding: 0.5em 1em;
    cursor: pointer;
    font-size: 1rem;
    color: #392E23;

}


/*CSS Desktop*/
@media (min-width: 992px){
    .main-header_content{
        flex-wrap: nowrap;
        justify-content: space-around;
        gap: 5vw;
        margin: 7px 11px 0;
    }
    .main-header_content #openNavButton{
        display: none;
    }
    .main-header_search-bar{
        order: 0;
        width: 60%;
    }
    .main-header_user-actions{
        margin: 0;
        gap: 0.2vw;
    }
    .main-header_nav{
        display: inline-block;
        position: relative;
        width: 100%;
        height: auto;
        background-color: transparent;
        overflow: visible;
    }
    .mobile-nav_list{
        display: flex;
        flex-direction: row;
        padding: 0 2rem;
    }
    .mobile-nav_item--close{
        display: none;
    }
    .mobile-nav_link{
        color: #392E23;
        font-size: 1.2rem;
        padding: 0.8rem 1rem 1rem 1rem;
    }
    .user-actions_dropdown{
        z-index: 3;
    }
}
@media (min-width: 1220px) {
    header, main, footer {
        padding: 0 5%;
    }
}
@media (min-width: 1440px) {
    header, main, footer {
        padding: 0 12%;
    }
}