#idlogo {
    width: 5%;
    height: auto;
    max-width: 200%;
}
#idsearch {
    width: 5%;
    height: auto;
    max-width: 200%;
}
#search {
    width: 30%;
    height: auto;
    max-width: 200%;
}


header{
    background-color: rgb(30, 58, 71);
}
