.main-info{
    color:#392e23;
    margin:1rem 1rem 100% 1rem;
}
.main-info_title{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.main-info_text{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', sans-serif;
}
.main-info_text a{
    color: #7fa836;
    text-decoration: none;
}
.main-info_text a:hover{
    color: #7fa836;
    text-decoration: underline;
}
.main-info_image-container{
    display: flex;
    margin-top: 1rem;
    align-items: center;
}
.icon-payments{
    width:10%;
    height:auto;
    margin-left: 0.4rem;
}
.contact-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.contact-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-form_group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.contact-form_label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form_input,
.contact-form_textarea {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form_submit {
    padding: 10px 20px;
    background-color: #F3EED8;
    color: #090909;
    font-weight: bold;
    border: solid 2px #7fa836;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.contact-form_submit:hover {
    background-color: #f1e9c3;
}


@media (min-width: 768px) {
    .main-info_title{
        font-size: 3rem;
    }
    .main-info_text{
        font-size: 1.6rem;
    }
    .main-info_text a{
        font-size: 1.6rem;
    }
    .main-info_title{
        text-align: center;
    }
    .main-info_subtitle{
        font-size: 2.2rem;

    }
    #logo-paypal{
        width: 25%;
        height: auto;
    }
    .contact-section{
        margin-bottom: 10%;
    }
    .contact-form_submit{
        margin-top:5%;
    }
@media (min-width: 992px) {
    .main-info_title {
        font-size: 2.2rem;
    }

    .main-info_text {
        font-size: 1.5rem;
    }

    .main-info_text a {
        font-size: 1.5rem;
    }

    .main-info_title {
        text-align: center;
    }
    .main-info_subtitle{
        font-size: 1.7rem;
    }
}
}